<!-- Add you custom twig html here -->
<div id="{{calendar_id}}"></div>

<script>

window.onload = function(){
	{
		var calendarEvents={{events|raw}};
		var calendarSettings={{settings|raw}};
		var calendar = new Calendar('#{{calendar_id}}', calendarEvents, calendarSettings, {{javascript_function}});
	}
}
</script>
